/*BASE STYLES*/

.half-width {
  width: 480px;
}

.third-width {
  width: 400px;
  margin: 0 13px 40px;
  float: left;
  text-align: center;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 150px;
  text-align: center;
  background: #F77993;
  border-radius: 8px;
  margin: 150px auto 50px;
  width: 800px;
  padding: 10px 0;
  color: #fff;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 40px;
  text-align: center;
  background: #ff7da6;
  border-radius: 8px;
  margin: 0 auto;
  width: 300px;
  padding: 15px 30px;
  color: #fff;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 40px;
  color: #b2a63b;
  text-align: center;
}

h4 {
  font-family: 'Merriweather', serif;
}

p, p a {

  font-size: 20px;
  font-weight: normal;
  color: #8c832e;
  font-family: 'Lato', sans-serif;
  line-height: 25px;
}
/*HEADER*/

nav ul li {
  float: right;
  display: inline;
  padding: 20px 50px 35px 20px;
}

nav ul li a {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #ff7da6;
  text-decoration: none;
}

#intro {

  background: url("../img/flowers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 2px solid #ff7da6;
  border-bottom: 2px solid #ff7da6;
  height: 640px;
  clear: both;
}

/*MAIN*/

main {
  overflow: auto;

  background: #ffe89e;
  border-bottom: 2px solid #ff7da6;
}

main h4, footer h4{
  font-size: 30px;
  color: #b2a63b;
}

.portfolio-images {
  float: left;
  clear: left;
  width: 540px;
  height: 295px;
  border: 2px solid #b2a63b;
  border-radius: 20px;
  margin: 0 50px 50px 100px;
}

.portfolio-description {
  float: right;
  clear: right;
  margin-right: 100px;

}

/*ABOUT ME*/

section {
  background: url("../img/flowers.jpg");
  overflow: auto;
  border-bottom: 2px solid #ff7da6;
}

section h3, h4 {
  color: #fff;
}

section h4 {
  font-size: 30px;
}

section h3 {
  margin-top: 0;
  text-align: left;
}

section p {
  color: #fff;
}

.pink-box {
  width: 1000px;
  height: 500px;
  background: #ff7da6;
  border-radius: 10px;
  margin: 100px auto;
}

.profile-pic {
  width: 300px;
  height: 370px;
  border: 3px solid #D6ECF1;
  border-radius: 20px;
  margin: 160px 0 50px 215px;
  float: left;
}

.my-story {
  line-height: 27px;
  margin: 230px 200px 0 0;
  border-radius: 10px;
  float: right;
}

/*FOOTER*/

footer {
  background: #ffe89e;
  overflow: auto;
}

footer a {
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  color: #8c832e;
  font-family: 'Lato', sans-serif;
}

footer h3 {
  margin-top: 50px;
}

footer h4 {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
}

.icons {
  width: 56px;
  height: 56px;
  margin: 0 10px 30px 15px;
}

.img-link {
    text-decoration: none;
}

.hire {
  margin-top: 60px;
}
.meet {
  line-height: 30px;
}

.copyright {
  clear: both;
  background: #F77993;
  padding: 1px 0;
}

.copyright p {
    font-size: 15px;
    text-align: center;
    color: #fff;
}
