/*BASE STYLES*/

.full-width {
  width: 1280px;
  margin: 0 auto;
}

.half-width {
  width: 480px;
}

.third-width {
  width: 400px;
  margin: 0 13px 40px;
  float: left;
  text-align: center;
}

h3 {
  font-family: 'Lora', serif;
  font-size: 40px;
  color: #b2a63b;
  text-align: center;
}

h4 {
  font-family: 'Merriweather', serif;
}

p, p a {

  font-size: 20px;
  font-weight: normal;
  color: #8c832e;
  font-family: 'Lato', sans-serif;
  line-height: 25px;
}
/*HEADER*/

nav ul li {
  float: right;
  display: inline;
  padding: 20px 30px 35px 10px;
}

nav ul li a {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #ff7da6;
  text-decoration: none;
}

/*MAIN*/

main {
  clear: both;
  overflow: auto;
  background: #ffe89e;
  border-top: 2px solid #ff7da6;
  border-bottom: 2px solid #ff7da6;
}

main h4, footer h4{
  font-size: 30px;
  color: #b2a63b;
}

.garage-leaflet {
  float: left;
  width: 380px;
  height: 507px;
  border: 2px solid #b2a63b;
  border-radius: 20px;
  margin: 0 20px 20px 50px;
}

.poster-one {
  float: left;
  clear: both;
  width: 380px;
  height: 507px;
  border: 2px solid #b2a63b;
  border-radius: 20px;
  margin-left: 45px;
}

.posters {
  float: left;
  width: 380px;
  height: 507px;
  border: 2px solid #b2a63b;
  border-radius: 20px;
  margin: 0 0 20px 20px;
}

.business-cards {
  float: left;
  width: 375px;
  height: 241px;
  border: 2px solid #b2a63b;
  border-radius: 20px;
}

.business-card {
  margin-bottom: 20px;
}

.business-card-back {
  margin: 0 0 20px 20px;
}

.business-card-cog-back {
 margin-left: 20px;
}

.facebook-ad {
  float: left;
  width: 787px;
  height: 497px;
  border: 2px solid #b2a63b;
  border-radius: 20px;
  margin: 0 20px 45px 45px;
}

.email-marketing {
  float: left;
  width: 380px;
  height: 499px;
  border: 2px solid #b2a63b;
  border-radius: 20px;
  margin: 0 20px 20px 0;
}

/*SECTION*/


section h3, h4 {
  color: #F77993;
}

section h4 {
  font-size: 30px;
}


section p {
  color: #fff;
}

iframe {
  border: 2px solid #b2a63b;
  border-radius: 20px;
  margin: 0 0 45px 45px;

}


/*FOOTER*/

footer {
  background: #ffe89e;
  overflow: auto;
  border-top: 2px solid #ff7da6;
}

footer a {
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  color: #8c832e;
  font-family: 'Lato', sans-serif;
}

footer h3 {
  margin-top: 50px;
}

footer h4 {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
}

.icons {
  width: 56px;
  height: 56px;
  margin: 0 10px 30px 15px;
}

.img-link {
    text-decoration: none;
}

.hire {
  margin-top: 60px;
}
.meet {
  line-height: 30px;
}

.copyright {
  clear: both;
  background: #F77993;
  padding: 1px 0;
}

.copyright p {
    font-size: 15px;
    text-align: center;
    color: #fff;
}
